#board {
    width: 400px; /* Ajusta el tamaño según tus necesidades */
    height: 400px;
    border: 5px solid #333; /* Marco oscuro */
    display: flex;
    flex-wrap: wrap;
  }

  html, body {
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Color de fondo por defecto (negro) */
    color: #fff; /* Color del texto por defecto (blanco) */
    transition: background-color 1s ease; /* Transición suave de 1 segundo para el cambio de color de fondo */
}

body.white-turn .container {
    background-color: #fff; /* Color de fondo cuando es turno de las blancas */  
    color: #000000; /* Color del texto cuando es turno de las negras */
}

body.black-turn .container {
    background-color: #000; /* Color de fondo cuando es turno de las negras */
    color: #fff; /* Color del texto cuando es turno de las negras */
}

  .cell {
    width: 50px; /* Ajusta el tamaño según tus necesidades */
    height: 50px;
    position: relative;
  }
  
  .cell.dark {
    background-color: #8B4513; /* Color de madera oscura */
  }
  
  .cell.light {
    background-color: #F0D9B5; /* Color de madera clara */
  }
  
  .cell.white::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: #fff; /* Color de la ficha blanca */
    border-radius: 50%;
  }
  
  .cell.black::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: #000; /* Color de la ficha negra */
    border-radius: 50%;
  }
  
  .cell.clicked::before,
  .cell.clicked::after {
    width: 60%;
    height: 60%;
  }
  
  /*
  .cell.allowed {
    background-color: rgba(0, 128, 0, 0.5); /* Color verde transparente para celdas permitidas 
  }
  .cell.eatable {
    background-color: rgba(0, 128, 0, 0.5); /* Color verde transparente para celdas comibles
  }
  .cell.kill {
    background-color: rgba(231, 0, 0, 0.5); /* Color rojo transparente para celdas comibles
  } */
  
  